/* Remove padding and margin */
* {    
    padding: 0px; 
  }

  body {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    height: 600px;
    width: 800px;
  }

  img {
    border: 1px solid none;
    border-radius: 20px 0px 0px 20px;
  }

  .card-info { 
    border: 1px solid none;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    font-family: "Montserrat", serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%); 
    padding: 40px;
  }

  .perfume {
    letter-spacing: 3px;
  }

  .heading {
    font-size: 40px;
    font-weight: 700;
    font-family: "Fraunces", serif;
    color: hsl(212, 21%, 14%);
  }
  .description {
    line-height:1.8;
  }

  .discount {
    font-size: 32px;
    font-weight: 700;
    font-family: "Fraunces", serif;
    color: hsl(158, 36%, 37%);
  }

  .regular {
    text-decoration: line-through;
  }

  .submit-button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    display: flex;
    justify-content:center;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    width: 100%;
    scroll-margin-top: 20px;
    padding: 10px;
    font-family: "Montserrat", serif;
    font-weight: 500;
  }

  .cart {
    padding: 10px;
  }

  @media all and (max-width: 750px) {
    body {
        display: block;
    }
    .container {
        display: block;
        width: 100%;
    }

    img {
      width: 100%;
      border: 1px solid none;
      border-radius: 20px;
      margin: 0px;
    }

    .card-info {
      border: 1px solid none;
      border-radius: 20px;
      height: 500px;
    }
  }
 

